<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/script.js"></script>
</head>
<body>
    <div class="blob" id="blob1"></div>
    <div class="container">
      <h1 class="pricing-title"><span>Hosting</span> Plans</h1>
      <div class="pricing-plans">
        <div class="tier">
          <h2 class="tier__title">Free</h2>
    
          <ul class="tier__feature-list">
            <li class="tier__list-item">1 domain</li>
            <li class="tier__list-item">5GB of bandwith</li>
            <li class="tier__list-item">1GB of diskspace</li>
            <li class="tier__list-item">5,000 monthly uniques</li>
          </ul>
    
          <div class="tier__price">$0<span>/mo</span></div>
    
          <button class="button">Get Started</button>
        </div>
    
        <div class="tier inverted">
          <h2 class="tier__title">Free</h2>
    
          <ul class="tier__feature-list">
            <li class="tier__list-item">1 domain</li>
            <li class="tier__list-item">5GB of bandwith</li>
            <li class="tier__list-item">1GB of diskspace</li>
            <li class="tier__list-item">5,000 monthly uniques</li>
          </ul>
    
          <p class="tier__price">$0<span>/mo</span></p>
    
          <button class="button">Get Started</button>
        </div>
    
        <div class="tier">
          <h2 class="tier__title">Free</h2>
    
          <ul class="tier__feature-list">
            <li class="tier__list-item">1 domain</li>
            <li class="tier__list-item">5GB of bandwith</li>
            <li class="tier__list-item">1GB of diskspace</li>
            <li class="tier__list-item">5,000 monthly uniques</li>
          </ul>
    
          <div class="tier__price">$0<span>/mo</span></div>
    
          <button class="button">Get Started</button>
        </div>
      </div>
    </div>
</body>
</html>